body {
    padding: 10px;
}

.d-flex {
    justify-content: center;
}

.card {
    min-width: 100%;
}



@media (min-width: 769px) {
    
    .d-flex {
        justify-content: start;
    }

    .card {
        min-width: inherit;
        width: 26rem;
    }
}