{% extends "auctions/layout.html" %}
{% block title %}{{featured_user}}'s Albums{%endblock%}
{% block body %}

<h1>{{ featured_user }}'s Albums</h1>
<hr class="bg-light" />
{% if won %}
<h2>Albums Won by {{ featured_user }}</h2>
<div class="d-flex flex-wrap">

  {% for album in won %}
  <div class="card m-4 bg-secondary">
    <a href="{% url 'listing' album.id %}" class="card-link"><img src="{{ album.image_url }}" class="card-img-top"
        alt="cover of {{ album }}"></a>
    <div class="card-body">
      <h4 class="card-title">{{ album.title }} {% if album.new %}<span
          class="badge badge-pill badge-danger">New</span>{%endif%}
      </h4>
      <h5 class="card-subtitle">{{ album.artist }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      {% if user.id == album.top_bidder.id %}
      <li class="list-group-item bg-warning text-dark"><b>SOLD TO <a href="{% url 'albums' user.id %}"
            class="card-link text-danger">YOU</a></b> for
        {{album.top_bid}}!</li>
      {% else %}
      <li class="list-group-item bg-warning text-dark"><b>SOLD</b> to <a href="{% url 'albums' album.top_bidder.id %}"
          class="card-link text-danger">{{album.top_bidder}}</a>
        for {{album.top_bid}}</li>
      {% endif %}
      {% if user.id == album.seller.id %}
      <li class="list-group-item bg-secondary text-light">Offered by <a href="{% url 'albums' user.id %}"
          class="card-link text-white-50">you</a>
        on {{album.datetime_created}}</li>
      {% else %}
      <li class="list-group-item bg-secondary text-light">Offered by <a href="{% url 'albums' album.seller.id %}"
          class="card-link text-white-50">{{album.seller}}</a>
        on {{album.datetime_created}}</li>
      {% endif %}
    </ul>
    <div class="card-body">
      <a href="{% url 'listing' album.id %}" class="btn btn-warning btn-lg w-100 text-uppercase">Go to
        Listing</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if selling %}
<hr class="bg-dark" />

<h2>Albums Listed by {{ featured_user }}</h2>
<div class="d-flex flex-wrap">
  {% for album in selling %}
  {% if user.id and user.id == album.top_bidder.id %}
  <div class="card m-4 border-success bg-secondary">
    {% elif album.new %}
    <div class="card m-4 border-danger bg-secondary">
      {% else %}
      <div class="card m-4 bg-secondary">
        {% endif %}
        <a href="{% url 'listing' album.id %}" class="card-link"><img src="{{ album.image_url }}" class="card-img-top"
            alt="cover of {{ album }}"></a>
        <div class="card-body">
          <h4 class="card-title">{{ album.title }} {% if album.new %}<span
              class="badge badge-pill badge-danger">New</span>{%endif%}
          </h4>
          <h5 class="card-subtitle">{{ album.artist }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          {% if album.top_bid %}
          {% if album.datetime_closed %}
          {% if user.id == album.top_bidder.id %}
          <li class="list-group-item bg-warning text-dark"><b>SOLD TO <a href="{% url 'albums' user.id %}"
                class="card-link text-danger">YOU</a></b> for
            {{album.top_bid}}!</li>
          {% else %}
          <li class="list-group-item bg-warning text-dark"><b>SOLD</b> to <a
              href="{% url 'albums' album.top_bidder.id %}" class="card-link text-danger">{{album.top_bidder}}</a>
            for {{album.top_bid}}</li>
          {% endif %}
          {% else %}
          {% if user.id == album.top_bidder.id %}
          <li class="list-group-item bg-dark text-light">Current bid is <b>{{ album.top_bid }}</b> by
            <a href="{% url 'albums' user.id %}" class="card-link text-success"><b>YOU</b></a>
          </li>
          {% else %}
          <li class="list-group-item bg-secondary text-light">Current bid is <b>{{ album.top_bid }}</b> by <a
              href="{% url 'albums' album.top_bidder.id %}" class="card-link text-white-50">{{album.top_bidder}}</a>
          </li>
          {% endif %}
          {% endif %}
          {% elif album.datetime_closed %}
          {% if user == album.seller %}
          <li class="list-group-item bg-danger text-light">Withdrawn by <a href="{% url 'albums' user.id %}"
              class="card-link text-warning">you</a> on
            {{album.datetime_closed}}</li>
          {% else %}
          <li class="list-group-item bg-danger text-light">Withdrawn by <a href="{% url 'albums' album.seller.id %}"
              class="card-link text-warning">{{album.seller}}</a> on
            {{album.datetime_closed}}</li>
          {% endif %}
          {% else %}
          {% if user.id == album.seller.id %}
          <li class="list-group-item bg-secondary text-light">Offered by <a href="{% url 'albums' user.id %}"
              class="card-link text-white-50">you</a>
            on {{album.datetime_created}}</li>
          {% else %}
          <li class="list-group-item bg-secondary text-light">Offered by <a href="{% url 'albums' album.seller.id %}"
              class="card-link text-white-50">{{album.seller}}</a>
            on {{album.datetime_created}}</li>
          {% endif %}
          {% endif %}
        </ul>
        <div class="card-body">
          <a href="{% url 'listing' album.id %}" class="btn btn-warning btn-lg w-100 text-uppercase">Go to
            Listing</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if not won and not selling%}
    <h3>Nothing here yet!</h3>
    {% endif %}
    {% endblock %}