{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<!-- <ul> -->
{% for album in active_listings %}
<!-- <li> -->
<div class="card" style="width: 24rem; margin: 2rem 0;">
    <img src="{{ album.image_url }}" class="card-img-top" alt="cover of {{ album }}">
    <div class="card-body">
        <h4 class="card-title">{{ album.title }}</h4>
        <h5 class="card-subtitle">{{ album.artist }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        {% if user.id == album.seller.id %}
        <li class="list-group-item">Offered by you on {{ album.datetime_created }}</li>
        {% else %}
        <li class="list-group-item">Offered by {{ album.seller }} on {{ album.datetime_created }}</li>
        {% endif %}
        <li class="list-group-item">Current bid is {{ album.initial_price }}</li>
    </ul>
    <div class="card-body">
        <a href="{% url 'listing' album.id %}" class="card-link">Go to Listing</a>
    </div>
</div>
<!-- </li> -->
{% endfor %}
<!-- </ul> -->
{% endblock %}