{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<ul>
    {% for album in active_listings %}
    <li>
        {{ album.title }}<br />
        {{ album.artist }}<br />
        {{ album.year }}<br />
        {% if user.id == album.seller.id %}
        Offered by you on {{ album.datetime_created }}<br />
        {% else %}
        Offered by {{ album.seller }} on {{ album.datetime_created }}<br />
        {% endif %}
        Current bid is {{ album.initial_price }}<br />
        <img src="{{ album.image_url }}" alt="cover of {{ album }}" style="width: 355px;">
    </li>
    {% endfor %}
</ul>
{% endblock %}