{% extends "auctions/layout.html" %}

{% block body %}
<h2>Album Details</h2>
{% if messages %}
<div class="alert alert-warning" role="alert">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
</div>
{% endif %}
<div class="card" style="width: 26rem;">
  <div class="card-header"><a href="{% url 'index' %}">⬅️</a></div>
  <img src="{{ album.image_url }}" class="card-img-top" alt="cover of {{ album }}">
  <div class="card-body" style="background-color: linen;">
    <h4 class="card-title">{{ album.title }}</h4>
    <h5 class="card-subtitle mb-2">{{ album.artist }}</h5>
    <h6 class="card-text">{{ album.year }}</h6>
    <p class="card-text">{{ album.description }}</p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="background-color: floralwhite;">
      <h6 class="mb-0">Genres</h6>
    </li>
    {% for genre in genres %}
    <li class="list-group-item list-group-flush px-5" style="background-color: floralwhite;">
      {{ genre }}
    </li>
    {% endfor %}
  </ul>
  <div class="card-body" style="background-color: oldlace;"></div>
  <ul class="list-group list-group-flush">
    {% if user.id == max_bidder.id %}
    <li class="list-group-item" style="background-color: oldlace;">
      Current bid is <b>${{ max_bid }}</b> by you
    </li>
    {% else %}
    <li class="list-group-item" style="background-color: oldlace;">
      Current bid is <b>${{ max_bid }}</b> by {{ max_bidder }}
    </li>
    {% endif %}
    {% if user.id == album.seller.id %}
    <li class="list-group-item text-muted" style="background-color: oldlace;">Offered by you on
      {{ album.datetime_created }}
    </li>
    {% else %}
    <li class="list-group-item text-muted" style="background-color: oldlace;">
      Offered by {{ album.seller }} on {{ album.datetime_created }}
    </li>
    {% endif %}
  </ul>
  {% if user.is_authenticated %}
  <div class="card-body text-center">
    {% if user.id == album.seller.id %}
    <a href='#' class="btn btn-danger w-100">CLOSE THIS LISTING</a>
    {% else %}
    <form action="{% url 'bid' %}" method="post">
      {% csrf_token %}
      {{ form.amount }}
      <input type="hidden" name="album" value="{{ album.id }}">
      <input type="hidden" name="bidder" value="{{ user.id }}">
      <input class="btn btn-primary w-100" type="submit" value="BID ON THIS ALBUM">
    </form>

    {% endif %}
  </div>
  {% endif %}
  <div class="card-footer">
    <a href="{% url 'index' %}" class="card-link">Go Back</a>
    {% if user.is_authenticated %}
    {% if user in watchers %}
    <a href="{% url 'delete_from_watchlist' user.id album.id %}" class="card-link">Remove from Watchlist</a>
    {% else %}
    <a href="{% url 'add_to_watchlist' user.id album.id %}" class="card-link">Add to Watchlist</a>
    {% endif %}
    {% endif %}
  </div>
</div>



{% endblock %}